<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Portfolio - Projects</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav th:replace="~{navbar :: navbarFragment}"></nav>
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Project 1</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-12 col-xl-12 col-xxl-12">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Intranet</h2>
                                            <h5 class="fw-bolder">개발 기간 : 2023.12.15 - 2024.01.30</h5>
                                            <h5 class="fw-bolder">맡은 역할 : 구상, 백엔드 전체</h5>
                                            <p>사내에서 사용할 수 있는 Intranet을 만들어 봤습니다.</p>
                                            <p>보고서를 웹으로 제출할 수 있고, 자동으로 결제할 인원이 정해집니다.</p>
                                            <p>스케줄을 등록하여 자신의 일정을 관리할 수 있습니다.</p>
                                            <p>원하는 사람에게 쪽지를 보낼 수 있습니다.</p><hr>
                                            <h5 class="fw-bolder">개발 환경</h5>
                                            <p>언어 : Java (JDK 1.7)</p>
                                            <p>프레임워크 : Spring Boot</p>
                                            <p>DB : MariaDB</p>
                                            <p>API, 라이브러리 : Swagger, JWT, SMTP</p>
                                            <a class="icon-link" href="https://github.com/matddung/intranet">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                                                </svg>
                                                &nbsp;GitHubLink
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-12 col-xl-12 col-xxl-12">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Swagger Page (프론트 작업 미흡)</h2><br>
                                            <img class="erd" src="/assets/intranetScreenShot1.png" alt="..." />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-12 col-xl-12 col-xxl-12">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">ERD</h2>
                                            <img class="erd" src="/assets/intranetERD.png" alt="..." />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-12 col-xl-12 col-xxl-12">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">패키지 구조</h2>
                                                intranet<br>
                                                └─ 📦src<br>
                                                ├─ 📂main<br>
                                                │  ├─ 📂generated<br>
                                                │  ├─ 📂java<br>
                                                │  │&emsp;└─ 📂com<br>
                                                │  │&emsp;&emsp;└─ 📂intranet<br>
                                                │  │&emsp;&emsp;&emsp;├─ 📂common // Entity에 필요한 Type 지정<br>
                                                │  │&emsp;&emsp;&emsp;├─ 📂controller // UnLogin, Login, User, Admin으로 나누어진 controller(Role에 따라 사용할 수 있는 Controller가 다름)<br>
                                                │  │&emsp;&emsp;&emsp;├─ 📜DataInitializer.java // Initialize Data<br>
                                                │  │&emsp;&emsp;&emsp;├─ 📂dto // Response, Requset를 통해 클라이언트와 데이터를 주고받기 위한 Data Transfer Object<br>
                                                │  │&emsp;&emsp;&emsp;├─ 📂entity<br>
                                                │  │&emsp;&emsp;&emsp;├─ 📜IntranetApplication.java<br>
                                                │  │&emsp;&emsp;&emsp;├─ 📂repository // 각 Entity별 Repository<br>
                                                │  │&emsp;&emsp;&emsp;├─ 📂security // Spring Security, Authorize, Jwt기능<br>
                                                │  │&emsp;&emsp;&emsp;├─ 📂service // 각 Entity별 Service<br>
                                                │  │&emsp;&emsp;&emsp;└─ 📂swagger // Swagger Config<br>
                                                │  └─ 📂resources<br>
                                                │&emsp;├─ 📜application-secret.default // 프로젝트 yml 기본 설정<br>
                                                │&emsp;└─ 📜jwt.yml // jwt 기본 설정<br>
                                                └─ 📂test<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="/contact">Contact me</a>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <style>
                /* PC TOP 버튼 */
                #scrollTopPc {
                    display: none;
                    position: fixed;
                    bottom: 20px; /* 브라우저 아래쪽 끝에서부터의 거리 */
                    right: 15px; /* 브라우저 오른쪽 끝에서부터의 거리 */
                    cursor: pointer;
                    z-index: 99;
                }
            </style>

            <!-- PC TOP 버튼 HTML -->
            <div onclick="topFunction()" id="scrollTopPc" class="hidden-md hidden-sm hidden-xs">
                <img src="https://cdn.imweb.me/upload/S201707025957d259d421f/ce740ed49a705.png" width="50" height="50">
            </div>

            <!-- 상단/하단 이동 스크롤 스크립트 -->
            <script>
                window.onscroll = function() { scrollFunction() };

                function scrollFunction() {
                    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                        document.getElementById("scrollTopPc").style.display = "block";
                    } else {
                        document.getElementById("scrollTopPc").style.display = "none";
                    }
                }

                // PC TOP 버튼 동작
                function topFunction() {
                    $('html,body').animate({ scrollTop: 0 }, 500);
                }
            </script>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
